View/Web References/localhost/CheckUserService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://localhost/CheckUserService.asmx/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://localhost/CheckUserService.asmx/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://localhost/CheckUserService.asmx/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IDSoapHeader" type="tns:IDSoapHeader" />
      <s:complexType name="IDSoapHeader">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PassWord" type="s:string" />
        </s:sequence>
        <s:anyAttribute />
      </s:complexType>
      <s:element name="matching">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="matchingResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="matchingResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="extractCode_record">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkCode" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="extractCode_recordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="extractCode_recordResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="check_extractCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="checkCode" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="check_extractCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="check_extractCodeResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldIDSoapHeader">
    <wsdl:part name="IDSoapHeader" element="tns:IDSoapHeader" />
  </wsdl:message>
  <wsdl:message name="matchingSoapIn">
    <wsdl:part name="parameters" element="tns:matching" />
  </wsdl:message>
  <wsdl:message name="matchingSoapOut">
    <wsdl:part name="parameters" element="tns:matchingResponse" />
  </wsdl:message>
  <wsdl:message name="matchingIDSoapHeader">
    <wsdl:part name="IDSoapHeader" element="tns:IDSoapHeader" />
  </wsdl:message>
  <wsdl:message name="extractCode_recordSoapIn">
    <wsdl:part name="parameters" element="tns:extractCode_record" />
  </wsdl:message>
  <wsdl:message name="extractCode_recordSoapOut">
    <wsdl:part name="parameters" element="tns:extractCode_recordResponse" />
  </wsdl:message>
  <wsdl:message name="extractCode_recordIDSoapHeader">
    <wsdl:part name="IDSoapHeader" element="tns:IDSoapHeader" />
  </wsdl:message>
  <wsdl:message name="check_extractCodeSoapIn">
    <wsdl:part name="parameters" element="tns:check_extractCode" />
  </wsdl:message>
  <wsdl:message name="check_extractCodeSoapOut">
    <wsdl:part name="parameters" element="tns:check_extractCodeResponse" />
  </wsdl:message>
  <wsdl:message name="check_extractCodeIDSoapHeader">
    <wsdl:part name="IDSoapHeader" element="tns:IDSoapHeader" />
  </wsdl:message>
  <wsdl:portType name="CheckUserServiceSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="matching">
      <wsdl:input message="tns:matchingSoapIn" />
      <wsdl:output message="tns:matchingSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="extractCode_record">
      <wsdl:input message="tns:extractCode_recordSoapIn" />
      <wsdl:output message="tns:extractCode_recordSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="check_extractCode">
      <wsdl:input message="tns:check_extractCodeSoapIn" />
      <wsdl:output message="tns:check_extractCodeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CheckUserServiceSoap" type="tns:CheckUserServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://localhost/CheckUserService.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:HelloWorldIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="matching">
      <soap:operation soapAction="http://localhost/CheckUserService.asmx/matching" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:matchingIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extractCode_record">
      <soap:operation soapAction="http://localhost/CheckUserService.asmx/extractCode_record" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:extractCode_recordIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_extractCode">
      <soap:operation soapAction="http://localhost/CheckUserService.asmx/check_extractCode" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
        <soap:header message="tns:check_extractCodeIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CheckUserServiceSoap12" type="tns:CheckUserServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://localhost/CheckUserService.asmx/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:HelloWorldIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="matching">
      <soap12:operation soapAction="http://localhost/CheckUserService.asmx/matching" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:matchingIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="extractCode_record">
      <soap12:operation soapAction="http://localhost/CheckUserService.asmx/extractCode_record" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:extractCode_recordIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="check_extractCode">
      <soap12:operation soapAction="http://localhost/CheckUserService.asmx/check_extractCode" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
        <soap12:header message="tns:check_extractCodeIDSoapHeader" part="IDSoapHeader" use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CheckUserService">
    <wsdl:port name="CheckUserServiceSoap" binding="tns:CheckUserServiceSoap">
      <soap:address location="http://localhost:6435/CheckUserService.asmx" />
    </wsdl:port>
    <wsdl:port name="CheckUserServiceSoap12" binding="tns:CheckUserServiceSoap12">
      <soap12:address location="http://localhost:6435/CheckUserService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>